*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    display: block;
}

nav{
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

img.logo{
    width: 150px;
    float: left;
}

a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    text-align: center;
    padding: 1.5em;
    display: inline-block;
}

nav::before{
    content: "";
    display: table;
    clear: both;
}


a:hover {
    background-color: lightgray;
}

.container{
    max-width: 90%;
    margin: 0 auto;
}

.item:nth-child(3n + 2){
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.item{
    width: calc(100% / 3 - 1em);
    float: left;
    object-fit: contain;
    margin-top: 1.5em;
}

.inside{
    width: 100%;
    height: auto;
    padding-bottom: .7em;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.container::after{
    content: "";
    display: table;
    clear: both;
}

.discount{
    background-color: red;
    color: white;
    padding: 5px;
    position: relative;
}

.green{
    background-color: green;
    color: white;
    padding: 5px;
    position: relative;
}

.heart{
    background-color: white;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    position: absolute;
    right: 0;
    top: 40px;
}

.bottom-discount{
    position: absolute;
    left: 0;
    bottom: 40px;
}

.description{
    text-transform: uppercase;
    font-size: 16px;
}

.red-price{
    color: red;
    font-size: 13px;
}

.price{
    text-decoration-line: line-through;
    font-size: 13px;
}

.default{
    display: block;
}

.change{
    display: none;
}

.item:hover .change{
    display: block;
}

.item:hover .default{
    display: none;
}

















