*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    display: block;
}

.container{
    max-width: 90%;
    margin: 0 auto;
}

.inside{
    width: 100%;
    height: auto;
    position: relative;
    font-family: 'Roboto', sans-serif;;
}

.main-top::after{
    content: "";
    display: table;
    clear: both;
}

.item{
    width: calc(100% / 3 - 1em);
    float: left;
    object-fit: contain;
    margin: 0.5em;
}


.discount{
    background-color: red;
    color: white;
    padding: 5px;
    position: relative;
}

.green{
    background-color: green;
    color: white;
    padding: 5px;
    position: relative;
}

.bottom-discount{
    position: absolute;
    left: 0;
    bottom: 20px;
}

.heart{
    background-color: white;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    position: absolute;
    right: 0;
    top: 40px;
}

.description{
    text-transform: uppercase;
}

.description{
    font-size: 16px;
}

.red-price{
    color: red;
    font-size: 13px;
}

.price{
    text-decoration-line: line-through;
    font-size: 13px;
}

.default{
    display: block;
}

.change{
    display: none;
}

.item:hover .change{
    display: block;
}

.item:hover .default{
    display: none;
}

















