*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    display: block;
}

.container{
    max-width: 100%;
    margin: 3em;
}

.main-top::after{
    content: "";
    display: table;
    clear: both;
}

.left{
    width: 33%;
    float: left;
    object-fit: contain;
    margin-right: .5em;
}

.right{
    width: 33%;
    float: left;
    object-fit: contain;
    margin-left: .5em;
}

.center{
    width: calc(34% - 1em);
    float: left;
    object-fit: contain;
}

.main-bottom::after{
    content: "";
    display: table;
    clear: both;
}

.left-bot{
    width: 33%;
    float: left;
    object-fit: contain;
    margin-right: .5em;
}

.right-bot{
    width: 33%;
    float: left;
    object-fit: contain;
    margin-left: .5em;
}

.center-bot{
    width: calc(34% - 1em);
    float: left;
    object-fit: contain;
}


















